<ul class="row nav nav-tabs">
    <li>@Html.ActionLink("Yearly", "LineChart", "Yearly")</li>
    <li>@Html.ActionLink("Weekly", "LineChart", "Weekly")</li>
    <li>@Html.ActionLink("Hourly", "LineChart", "Hourly")</li>
</ul>