<div class="form-group">
    @Html.ActionLink("Line chart", "LineChart", null, new { @class = "btn btn-block btn-default" })
    @Html.ActionLink("Bar chart", "BarChart", null, new { @class = "btn btn-block btn-default" })
    @Html.ActionLink("Donut chart", "DonutChart", null, new { @class = "btn btn-block btn-default" })
</div>