@model MandatoryAssignment.Models.MonthlyStat
@{
    ViewBag.Title = "Bar Chart";
}
<div id="chart">
    @Html.Partial("_BarChart")
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function() {
            setInterval(function () {
                $('#chart').load('_BarChart').show();
            },
            10000);
        });
    </script>
}
